<form method="post" action="/import" class="form-inline mt-2 mt-md-0">
  Add the recipe here
  <br>
  <h2>
    name
    <input type="text" name="name">
  </h2>
  <input type="submit" value="submit">
</form>
