<% @recipes.each_with_index do |recipe, recipe_index| %>
  <ul>
    <li><%= recipe.name %> - <a href="/recipes/<%= recipe_index %>">Destroy</a> </li>
    <li><%= recipe.description %></li>
    <li><%= recipe.duration %></li>
  </ul>
<% end %>
<a href="/new">create a recipe</a>
<br>
<br>
<a href="/import">import a recipe</a>
