<form method="POST" action="/recipes">
  Add the recipe here
  <br>
  <h2>
    name
    <input type="text" name="name">
  </h2>
  <h2>description
    <input type="text" name="description">
  </h2>
  <h2>duration
    <input type="text" name="duration">
  </h2>
  <input type="submit" value="submit">
</form>
